<!-- Modal de notificación -->
<div class="modal fade" id="notificationModal" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered shadow-mac">
        <div class="modal-content mac-glass border-0"
            style="border-radius: 24px; background: rgba(255, 255, 255, 0.85); backdrop-filter: blur(15px); -webkit-backdrop-filter: blur(15px);">
            <div class="modal-body p-4 text-center">

                <!-- Vista de texto  del modal -->
                <div class="icon-wrapper mb-3">
                    <!-- icono de modal -->
                    <i [ngClass]="notify.modalIcon" class="display-4"
                        style="filter: drop-shadow(0 4px 8px rgb(0, 0, 0));"></i>
                </div>
                <!-- Titulo de modal -->
                <h5 class="fw-semibold text-dark mb-1 tracking-tight" style="color: #000000; opacity: 1;">
                    {{ notify.modalTitle }}
                </h5>
                <!-- Mesaje de modal -->
                <p class="small mb-4 fw-medium" style="color: #171616ac; opacity: 1;">
                    {{ notify.modalMessage }}
                </p>
                <!-- Boton para acceptar la notificación -->
                <button type="button" class="btn btn-dark w-100 rounded-pill py-2 fw-semibold shadow-sm"
                    data-bs-dismiss="modal" style="color: #e6e6e6; opacity: 1;">
                    Aceptar
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg"
            style="border-radius: 24px; background: rgba(255, 255, 255, 0.95); backdrop-filter: blur(20px);">
            <div class="modal-body p-4 text-center" *ngIf="notify.confirmType">

                <!-- Modal de confirmación de eliminación -->
                <ng-container *ngIf="notify.confirmType === 'delete'">
                    <div class="mb-3">
                        <i class="bi bi-exclamation-circle-fill text-danger" style="font-size: 3.5rem;"></i>
                    </div>
                    <!-- Vista de texto  para eliminar -->
                    <h4 class="fw-bold text-dark">¿Eliminar registro?</h4>
                    <p class="text-muted small">El registro será eliminado permanentemente del sistema.</p>


                    <div class="d-flex gap-2 mt-4">
                        <!-- Boton para cancelar la eminacion  -->
                        <button type="button" class="btn btn-light w-100 rounded-pill fw-semibold border btn-mac-Hover"
                            data-bs-dismiss="modal">
                            Cancelar
                        </button>
                        <!-- Boton para eliminar -->
                        <button type="button" class="btn w-100 rounded-pill fw-semibold shadow-sm btn-mac-danger"
                            (click)="notify.executeConfirmation()">
                            Eliminar
                        </button>
                    </div>
                </ng-container>

                <!-- Modal de confirmación para cancelar orden -->
                <ng-container *ngIf="notify.confirmType === 'cancel'">
                    <div class="mb-3">
                        <i class="bi bi-x-circle-fill" style="font-size: 3.5rem; color: #7239db;"></i>
                    </div>

                    <!-- Vista de texto  para cancelar orden -->
                    <h4 class="fw-bold text-dark">¿Cancelar Orden?</h4>
                    <p class="text-muted small">La orden se marcará como cancelada y no podrá ser procesada.</p>

                    <!-- Boton para dejar la orden en estado natural -->
                    <div class="d-flex gap-2 mt-4">
                        <button type="button" class="btn btn-light w-100 rounded-pill fw-semibold border btn-mac-Hover"
                            data-bs-dismiss="modal">
                            Volver
                        </button>

                        <!-- Boton para confirmar la cancelación de la orden -->
                        <button type="button" class="btn w-100 rounded-pill fw-semibold shadow-sm btn-mac-purple"
                            (click)="notify.executeConfirmation()">
                            Confirmar
                        </button>
                    </div>
                </ng-container>

                <!-- Modal de confirmación para actualizar estado de orden -->
                <ng-container *ngIf="notify.confirmType === 'update'">
                    <div class="mb-3">
                        <i class="bi bi-arrow-repeat text-primary" style="font-size: 3.5rem;"></i>
                    </div>
                    
                    <!-- Vista de texto  para actualizar la orden -->
                    <h4 class="fw-bold text-dark">¿Actualizar estado?</h4>
                    <p class="text-muted small">Se aplicará el nuevo estado a la orden y se notificará al sistema.</p>
                 
                    <!-- Boton para cancelar la actualización de la orden -->
                    <div class="d-flex gap-2 mt-4">
                        <button type="button" class="btn btn-light w-100 rounded-pill fw-semibold border btn-mac-Hover"
                            data-bs-dismiss="modal">
                            Cancelar
                        </button>

                          <!-- Boton para confirmar la actualicación de la orden -->
                        <button type="button" class="btn btn-dark w-100 rounded-pill fw-semibold shadow-sm btn-mac-update"
                            (click)="notify.executeConfirmation()">
                            Actualizar
                        </button>
                    </div>
                </ng-container>

                <!-- Modal de confirmación para procesar pago de orden -->
                <ng-container *ngIf="notify.confirmType === 'pay'">
                    <i class="bi bi-check-circle-fill text-success" style="font-size: 3.5rem;"></i>
                    <h4 class="fw-bold mt-3">¿Procesar Pago?</h4>
                    <p class="text-muted small">Se registrará la transacción de forma permanente.</p>
                    <div class="d-flex gap-2 mt-4">
                        <button type="button" class="btn btn-light w-100 rounded-pill fw-semibold border btn-mac-Hover"
                            data-bs-dismiss="modal">
                            Volver
                        </button>

                        <!-- Boton para confirmar el pago de la  orden-->
                        <button class="btn w-100 rounded-pill fw-semibold shadow-sm btn-mac-success"
                            (click)="notify.executeConfirmation()">Pagar Ahora</button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>


<!-- Modal de confirmación de contraseña para acciones sensibles -->
<div class="modal fade" id="passwordModal" data-bs-backdrop="static" tabindex="-1"
    (hidden.bs.modal)="onPasswordModalHidden(); passInput.value = ''">

    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content border-0 shadow-lg" style="border-radius: 20px;">
            <div class="modal-body p-4 text-center">

                <!-- Icono y Títulos -->
                <div class="mb-3">
                    <i class="bi bi-shield-lock-fill text-primary" style="font-size: 3rem;"></i>
                </div>
                <h5 class="fw-bold">Área Protegida</h5>
                <p class="text-muted small">Se requiere clave de administrador para confirmar los cambios.</p>

                <!-- Input de Contraseña con Referencia Local #passInput -->
                <input type="password" #passInput
                    class="form-control form-control-lg text-center border-0 shadow-sm mb-3" placeholder="••••"
                    style="background: #f0f2f5; border-radius: 15px;"
                    (keyup.enter)="notify.executePasswordConfirmation(passInput.value)" autocomplete="new-password">

                <!-- Botones de Acción -->
                <div class="d-flex gap-2">

                    <button type="button" class="btn btn-light w-100 rounded-pill fw-semibold border btn-mac-Hover"
                        data-bs-dismiss="modal" (click)="notify.notifyCancel()">
                        Cancelar
                    </button>

                    <!-- El botón de Confirmar ahora pasa el valor del input directamente al método de confirmación -->
                    <button type="button" class="btn btn-dark w-100 rounded-pill"
                        (click)="notify.executePasswordConfirmation(passInput.value)" data-bs-dismiss="modal">
                        Confirmar
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>