// Efecto Cristal de macOS
.mac-glass {
  background: rgba(252, 252, 252, 0.512) !important; 
  backdrop-filter: blur(20px) saturate(180%); 
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid rgba(0, 0, 0, 0.492) !important; 
  border-radius: 22px !important; 
}

// Estilo del icono
.mac-icon-style {
  font-size: 3rem;
  display: inline-block;
  animation: macScale 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Espaciado de letras tipo Apple
.tracking-tight {
  letter-spacing: -0.022em;
}

// Animación de entrada
@keyframes macScale {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// Ajuste para el modal-dialog para que no use el fondo negro de Bootstrap tan fuerte
:host ::ng-deep .modal-backdrop.show {
  opacity: 0.2; 
}
}

// Botón Eliminar (Rojo)
.btn-mac-danger {
  background-color: rgba(245, 52, 52, 0.288) !important;
  color: #c91e1e !important;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px) scale(1.02);
    background-color: rgba(201, 30, 30, 0.9) !important; 
    color: white !important;
  }
}

// Botón Confirmar (Morado)
.btn-mac-purple {
  background-color: rgba(90, 30, 201, 0.3) !important; 
  color: #7239db !important;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px) scale(1.02);
    background-color: rgba(90, 30, 201, 0.9) !important; 
    color: white !important;
    
  }
}

// Botón Pagar (Verde Bosque Exacto de image_5.png)
.btn-mac-success {
  background-color: rgba(34, 128, 59, 0.397) !important;
  color: #1b632e !important; 
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px) scale(1.02);
    background-color: rgb(34, 128, 59) !important; 
    color: white !important; 
  }
}

// Hover para el btn cancelar y voler
.btn-mac-Hover {
  &:hover {
     transform: translateY(-2px) scale(1.02);
  }
}